# Drupal public/runtime files
/src/web/sites/default/files/css/
/src/web/sites/default/files/js/
/src/web/sites/default/files/php/
/src/web/sites/default/files/styles/

# Editor backup files
*~
\#*\#
