# Drupal public/runtime files
/src/web/sites/default/files/css/
/src/web/sites/default/files/js/
/src/web/sites/default/files/php/
/src/web/sites/default/files/styles/
/src/web/sites/default/files/media-icons/
/src/web/sites/default/files/inline-images/

# Editor backup files
*~
\#*\#
